[submodule "awesome/revelation"]
	path = awesome/revelation
    url = https://github.com/bioe007/awesome-revelation.git
[submodule "awesome/pomodoro"]
	path = awesome/pomodoro
	url = https://github.com/nikolavp/awesome-pomodoro.git
[submodule "vim/bundle/neobundle.vim"]
	path = vim/bundle/neobundle.vim
	url = https://github.com/Shougo/neobundle.vim.git
