/spell
/vim/.netrwhist
/_mutt/mailboxes
*.pyc
/vim/spell
vim/bundle/The-NERD-tree/
vim/bundle/neobundle.vim/
vim/bundle/ctrlp.vim/
vim/bundle/go.vim/
vim/bundle/inkpot/
vim/bundle/n3.vim/
vim/bundle/nerdcommenter/
vim/bundle/nerdtree/
vim/bundle/scala-vim-support/
vim/bundle/syntastic/
vim/bundle/tabular/
vim/bundle/tagbar/
vim/bundle/ultisnips/
vim/bundle/vim-autoclose/
vim/bundle/vim-coffee-script/
vim/bundle/vim-endwise/
vim/bundle/vim-markdown/
vim/bundle/vim-matchit/
vim/bundle/vim-misc/
vim/bundle/vim-notes/
vim/bundle/vim-puppet/
vim/bundle/vim-surround/
vim/bundle/.neobundle/
