snippet bash "Creates a bash snippet" !b
{code:language=bash}
${1:content}
{code}
${2}
endsnippet


snippet note "Note starting" !b
{note}
${1:content}
{note}
${2}
endsnippet

snippet pre "Pre used for quoting only" !b
{code:language=none}
${1:content}
{code}
${2}
endsnippet
