snippet sleep "Call thread sleep" !b
try {
    Thread.sleep(${1});
} catch (InterruptedException e) {
    e.printStackTrace();
}

endsnippet


snippet sys "System out" !b
System.out.println("${1}");
${2}
endsnippet
