snippet desc "Describe definition" !b
describe '${1:description}' do
  ${2:content}
end
endsnippet

snippet sh "It should contain" !b
it { should ${1:what?} }
endsnippet

snippet params "Parameters definition" !b
let (:params) { {'${1:name}' => '${2:value}'} }
endsnippet
