snippet frame "Creates a latex frame for beamer" !b
\begin{frame}
\frametitle{${1:title}}
${2:content}
\end{frame}
endsnippet

snippet example "Example block in beamer" !b
\begin{exampleblock}
    ${1:content}
\end{exampleblock}
endsnippet

snippet code "Code block" !b
\begin{lstlisting}
${1:content}
\end{lstlisting}
endsnippet
